<div class="container">
  <div class="row">
    <h1 class="text-center text-primary m-3">Encurtador de URL</h1>
  </div>

  <div class="row shadow mt-3">
    <div class="card">
      <div class="card-body">
        <div class="input-group mb-1 mt-1">
          <input type="text" class="form-control" placeholder="Insira a URL" [(ngModel)] = "url" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-primary" type="button" (click) = "generateShortUrl()" id="button-addon2">Encurtar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3 shadow" *ngIf="isUrlGenerated || isErrorGenerated">
    <div class="card">
      <div class="card-body">
        <div *ngIf="isErrorGenerated">
          <div class="alert alert-danger" role="alert">
            Por favor, insira uma URL válida.
          </div>
        </div>
        <div *ngIf="isUrlGenerated">
          <h4>URL Encurtada: <a href="{{originalUrl}}" target="_blank">https://link/{{shortUrl}}</a></h4>

        </div>
      </div>
    </div>
  </div>
</div>
